@font-face {
    font-family: 'Droid Sans';
    src: url('fonts/DroidSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
	font-family: "Droid Sans";
	font-size: 100%;
}

h1, h2, h3, h4 {
	font-family: "Ubuntu";
}

h1 {
	font-size: 40px;
	font-style: italic;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}

body {
	background: #f9e933;
}

.container {
	overflow: hidden;
}

header, main, footer {
	min-width: 855px;
}

header, main {
	background: white;
}

header .container, main .container, footer .container {
	max-width: 855px;
	margin: auto;
}

header h1, .main, .contact {
	float: left;
	width: 570px;
}

header nav, .image, .sitemap {
	float: right;
	width: 285px;
}