header, main, footer {
	min-width: 855px;
	overflow: auto;
}

header .container, main .container, footer .container {
	max-width: 855px;
	margin: auto;
}

body {
	background: #f9e933;
}

header {
	background: white;
}

header h1, .main, .contact {
	float: left;
	width: 570px;
}

header nav, main img, .sitemap {
	float: right;
	width: 285px;
}

main {
	background: white;
}