@font-face {
    font-family: 'Droid Sans';
    src: url('../fonts/DroidSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
	font-family: "Droid Sans";
	font-size: 100%;
	background: #f9e933;
}

h1, h2, h3, h4 {
	font-family: "Ubuntu";
}

h1 {
	font-size: 40px;
	font-style: italic;
}

h2 {
	font-size: 30px;
}

h5 {
	font-size: 18px;
}

a {
	text-decoration: none;
	color: red;
}

a:hover {
	text-decoration: underline;
}

header, main, footer {
	overflow: auto;
	min-width: 855px;
}

header, main {
	background: white;
}

.container {
	max-width: 855px;
	margin: auto;
}

header h1, .main, .contact {
	float: left;
	width: 570px;
}

header nav, .image, .sitemap {
	float: right;
	width: 285px;
}

header {
	border-bottom: 2px solid #f9e933;
	padding: 15px;
}

nav a {
	padding: 0px 5px;
}

nav a:nth-child(2) {
	border-left: 2px solid #f9e933;
	border-right: 2px solid #f9e933;
}

main {
	padding: 15px;
}

main p {
	margin: 10px 0px;
}

main h2 {
	margin-bottom: 10px;
}

.main ul {
	margin: 10px 0px;
	padding: 0px 20px;
	list-style: circle;
}

.main ul li {
	margin: 5px 0px;
}

footer {
	padding: 40px 15px 1px 15px;
}

footer h5 {
	margin-bottom: 20px; 
}

.sitemap ul {
	columns: 2;
}

.tabs a span {
	display: inline-block;
	border-radius: 5px 5px 0 0;
	width: 100px;
	margin-right: 10px;
	text-align: center;
	background: #ddd;
	padding: 5px;
}

.tabs a span.active {
	background: #eee;
}

.content {
	background: #eee;
	border-radius: 0px 5px 5px 5px;
	padding: 20px 10px;
}

.content li {
	margin-bottom: 10px; 
	padding: 3px;
	background: white;
	border-radius: 3px;
}

.content li:last-child {
	margin-bottom: 20px; 
	background: white;
}

.content ul:last-child li:last-child {
	margin-bottom: 0px;
}

.content h3 {
	margin: 10px 0px;
	padding: 3px;
	background: #ddd;
	border-radius: 3px;
}

.content h3:first-child {
	margin-top: 0px;
}

.content button {
	font-size: 20px;
	font-weight: bold;
	margin-left: 10px;
}

.content input {
	font-size: 20px;
}

.right {
	float: right;
	padding-left: 20px;
}